<h6 class="second"><center>
  <%= image_tag 'start/landscape_footer.png', :width => '100%', :height => 'auto', :title => 'Pie de Incubadora de Software Veracruzana', :alt => 'Pie de Incubadora de Software Veracruzana' %><br>
  Torre Animas 1207, Xalapa, Ver.<br>
  www.insoftver.com.mx<br>
  ventas@insoftver.com.mx
</center></h6>
<p class="neutral"><%= "#{(translate ('find_me_in')).capitalize} app/views/start/_bottom.html.erb" %></p>