<center>
  <%= image_tag 'start/landscape_header.png', :width => '100%', :height => 'auto', :title => 'Incubadora de Software Veracruzana', :alt => 'Imagen de Incubadora de Software Veracruzana' %>
</center>
<p class="neutral"><%= "#{(translate ('find_me_in')).capitalize} app/views/start/_top.html.erb" %></p>